<div>
    <br/>
    <h4>Taiteellisesta ty&ouml;skentelyst&auml;</h4>

    <p>
        Viime vuosina olen ty&ouml;skennellyt useiden &auml;&auml;ni-installaatioiden
        parissa, kirjoittanut runoja sek&auml; tehnyt veistoksia eri
        materiaaleista. Teoksissani yhdistelen n&auml;it&auml; eri elementtej&auml;
        toisiinsa.</p>

    <p>
        Jo useamman vuoden ajan olen k&auml;sitellyt teoksissani kiirett&auml;
        ja sen vaikutusta ihmiseen ja h&auml;nen l&auml;hiymp&auml;rist&ouml;&ouml;ns&auml;.
        Kiireisen arjen hahmottaminen on syventynyt seuraavan kysymyksen
        &auml;&auml;relle: Milloin l&auml;sn&auml;olo muuttuu poissaoloksi? Tuon
        kysymyksen kautta olen pohtinut muun muassa sit&auml;, kuinka l&auml;sn&auml;olemisen
        tasot horjuvat niin helposti, sill&auml; ymp&auml;r&ouml;iv&auml;
        el&auml;m&auml;mme on niin pirstaleista. Kiiireisen arjen keskell&auml;
        on vaara, ett&auml; sit&auml; muuttuu v&auml;linpit&auml;m&auml;tt&ouml;m&auml;ksi.
        L&auml;hell&auml; olevat merkitykselliset ja arvokkaat asiat
        j&auml;&auml;v&auml;t arkisen kiireen alle. Kun l&auml;sn&auml;olo
        muuttuu poissaoloksi, miss&auml; ihminen tuolloin oikeastaan on?</p>

    <p>
        Ty&ouml;skentelyprosessini kaari ideasta valmiiksi teokseksi saattaa
        kest&auml;&auml; useita vuosia. Hidas kypsyminen on mielenkiintoista,
        vaikkakin haastelleista, sill&auml; ymp&auml;r&ouml;iv&auml;
        todellisuutemme on
        eritt&auml;in pirstaleista.</p>

    <p>
        Uudet teokseni ovat sis&auml;ll&ouml;llisesti jatkumoa aikaisemmille t&ouml;illeni,
        joissa on kokemuksia kiireen l&auml;sn&auml;olosta. Olen k&auml;sitellyt
        teoksissani ulkopuolisuuden tunteita, yksin&auml;isyytt&auml;,
        sek&auml; irrallisuuden kokemuksia suhteessa toisiin ihmisiin.</p>

    <p>
        Ty&ouml;skentelen Berliiniss&auml;, Lahdessa, Helsingiss&auml; sek&auml;
        taiteilijaresidensseiss&auml; ulkomailla. Valmistelen parhaillaan
        tulevien vuosien n&auml;yttelyit&auml;.</p>

    <p>
        Kuvia teoksistani l&ouml;yd&auml;t t&auml;&auml;lt&auml;:
        <a href="http://www.kuvataiteilijamatrikkeli.fi/fi/taiteilijat/3084">Kuvataiteilijamatrikkeli</a>
        / <a href="http://laurakarki.blogspot.com/">blogi</a> / <a
            href="http://www.finnishdesigners.fi/laurakarki/">finnishdesigners</a>
    </p>
</div>