<div>
    <br/>
    <h4>Artist Statement</h4>

    <p>In my artistic work, I combine poems, sculptures and a
        variety of soundscapes. I work with several simultaneous ideas, which
        gradually deepen, receiving
        stimuli from the surrounding life. My working processes are long, so a
        work's arc from idea to a finished piece of work or installation may
        take several years. I like the slow
        maturation of the works, it is interesting but also a challenge, as the
        life surrounding us is very fragmented. One must be able to hold on and
        to let go when searching for the
        final direction and form of the works. I choose the material of the
        works depending on the idea, and works have been born from materials
        such as washing sponges, toasts, and
        coffee filters.</p>

    <p>In recent years, I have made a series of sound
        installations, to which I have attached sound and other material related
        to home. For several years now, my
        works have been dealing with the effect of being in a constant hurry to
        people's living environment.</p>

    <p>At the moment I am working in Berlin, Lahti and
        Helsinki.</p>

    <p>You can find pictures of my works here: <a
            href="http://www.kuvataiteilijamatrikkeli.fi/fi/taiteilijat/3084">Artists'
        Association of Finland Member Registry</a> / <a
            href="http://laurakarki.blogspot.com/">My blog</a> / <a
            href="http://www.finnishdesigners.fi/laurakarki/">finnishdesigners</a>
    </p>
</div>